-- MySQL dump 10.13  Distrib 8.4.6, for Win64 (x86_64)
--
-- Host: localhost    Database: barangay_management_system
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `barangay_management_system`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `barangay_management_system` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `barangay_management_system`;

--
-- Table structure for table `admin_employee_accounts`
--

DROP TABLE IF EXISTS `admin_employee_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_employee_accounts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('admin','employee') NOT NULL,
  `status` enum('active','inactive','suspended') DEFAULT 'active',
  `last_login` timestamp NULL DEFAULT NULL,
  `password_changed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_username` (`username`),
  KEY `idx_role` (`role`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_employee_accounts`
--

LOCK TABLES `admin_employee_accounts` WRITE;
/*!40000 ALTER TABLE `admin_employee_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_employee_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_employee_profiles`
--

DROP TABLE IF EXISTS `admin_employee_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_employee_profiles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_id` int(11) NOT NULL,
  `employee_id` varchar(20) DEFAULT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `suffix` varchar(10) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `profile_picture` varchar(255) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `hire_date` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`),
  UNIQUE KEY `email` (`email`),
  KEY `account_id` (`account_id`),
  KEY `idx_employee_id` (`employee_id`),
  KEY `idx_email` (`email`),
  KEY `idx_full_name` (`last_name`,`first_name`),
  CONSTRAINT `admin_employee_profiles_ibfk_1` FOREIGN KEY (`account_id`) REFERENCES `admin_employee_accounts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_employee_profiles`
--

LOCK TABLES `admin_employee_profiles` WRITE;
/*!40000 ALTER TABLE `admin_employee_profiles` DISABLE KEYS */;
INSERT INTO `admin_employee_profiles` VALUES (27,32,'123123345345','Roco','Jomas','Manalo','Jr','09955958343','adminaccount@gmail.com',NULL,'Department Head','ICTD','2016-01-02','2025-07-07 14:08:44','2025-08-15 19:37:56'),(29,34,NULL,'Mark','','Ford','Jr','09955958343','2024_bula_fordmark@gov.ph',NULL,NULL,NULL,NULL,'2025-08-15 19:26:09','2025-09-16 11:04:34'),(30,35,NULL,'Amelia',NULL,'Milie',NULL,'09073625112','2034_cete_milieamelia@online.htcgsc.edu.ph',NULL,NULL,NULL,NULL,'2025-08-15 21:35:38','2025-08-15 21:35:38');
/*!40000 ALTER TABLE `admin_employee_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `user_type` enum('admin','employee','client') NOT NULL,
  `action` varchar(100) NOT NULL,
  `table_name` varchar(100) DEFAULT NULL,
  `record_id` int(11) DEFAULT NULL,
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_values`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authorization_documents`
--

DROP TABLE IF EXISTS `authorization_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authorization_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `authorized_pickup_person_id` int(11) NOT NULL,
  `document_type` varchar(100) NOT NULL,
  `document_name` varchar(200) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int(11) DEFAULT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `verification_notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_pickup_person_id` (`authorized_pickup_person_id`),
  KEY `idx_document_type` (`document_type`),
  CONSTRAINT `authorization_documents_ibfk_1` FOREIGN KEY (`authorized_pickup_person_id`) REFERENCES `authorized_pickup_persons` (`id`) ON DELETE CASCADE,
  CONSTRAINT `authorization_documents_ibfk_2` FOREIGN KEY (`verified_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Stores authorization documents (letters, IDs) for pickup persons';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authorization_documents`
--

LOCK TABLES `authorization_documents` WRITE;
/*!40000 ALTER TABLE `authorization_documents` DISABLE KEYS */;
INSERT INTO `authorization_documents` VALUES (11,29,'authorization_letter','authorize_letter_pickup_by_somene.jpg','uploads\\verification\\pickup_authorization\\pickup_auth_29_1758036793728.jpg',131614,'image/jpeg',0,NULL,NULL,'2025-09-16 15:33:13',NULL);
/*!40000 ALTER TABLE `authorization_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authorized_pickup_persons`
--

DROP TABLE IF EXISTS `authorized_pickup_persons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `authorized_pickup_persons` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `suffix` varchar(10) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `id_type` varchar(50) DEFAULT NULL,
  `id_number` varchar(50) DEFAULT NULL,
  `id_expiry_date` date DEFAULT NULL,
  `authorization_letter_path` varchar(500) DEFAULT NULL,
  `relationship_to_beneficiary` varchar(100) DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `verification_notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `id_image_path` varchar(500) DEFAULT NULL,
  `id_image_name` varchar(200) DEFAULT NULL,
  `id_image_size` int(11) DEFAULT NULL,
  `id_image_mime_type` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_full_name` (`last_name`,`first_name`),
  KEY `idx_id_number` (`id_number`),
  KEY `idx_verification_status` (`is_verified`),
  KEY `idx_pickup_verification_status` (`is_verified`),
  CONSTRAINT `authorized_pickup_persons_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `authorized_pickup_persons_ibfk_2` FOREIGN KEY (`verified_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='Stores information about people authorized to pick up documents on behalf of others';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authorized_pickup_persons`
--

LOCK TABLES `authorized_pickup_persons` WRITE;
/*!40000 ALTER TABLE `authorized_pickup_persons` DISABLE KEYS */;
INSERT INTO `authorized_pickup_persons` VALUES (29,189,'Rachma','Tiboron','Abdilah',NULL,'09534280428',NULL,NULL,NULL,NULL,'uploads\\verification\\pickup_authorization\\pickup_auth_29_1758036793728.jpg','spouse',0,NULL,NULL,NULL,'2025-09-16 15:33:09','2025-09-16 15:33:13','uploads\\verification\\pickup_ids\\pickup_id_29_1758036793667.jpg','GOV_ID.jpg',110985,'image/jpeg');
/*!40000 ALTER TABLE `authorized_pickup_persons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barangay_clearance_applications`
--

DROP TABLE IF EXISTS `barangay_clearance_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barangay_clearance_applications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `has_pending_cases` tinyint(1) DEFAULT 0,
  `pending_cases_details` text DEFAULT NULL,
  `voter_registration_status` tinyint(1) DEFAULT NULL COMMENT 'Voter registration status: 1=registered, 0=not registered, NULL=not specified',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `request_id` (`request_id`),
  CONSTRAINT `barangay_clearance_applications_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barangay_clearance_applications`
--

LOCK TABLES `barangay_clearance_applications` WRITE;
/*!40000 ALTER TABLE `barangay_clearance_applications` DISABLE KEYS */;
INSERT INTO `barangay_clearance_applications` VALUES (67,190,0,NULL,1,'2025-09-16 15:38:06','2025-09-16 15:38:06');
/*!40000 ALTER TABLE `barangay_clearance_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beneficiary_verification_documents`
--

DROP TABLE IF EXISTS `beneficiary_verification_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `beneficiary_verification_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `beneficiary_id` int(11) NOT NULL,
  `document_type` varchar(100) NOT NULL,
  `document_name` varchar(200) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int(11) DEFAULT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `verification_notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beneficiary_verification_documents`
--

LOCK TABLES `beneficiary_verification_documents` WRITE;
/*!40000 ALTER TABLE `beneficiary_verification_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `beneficiary_verification_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cedula_applications`
--

DROP TABLE IF EXISTS `cedula_applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cedula_applications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `occupation` varchar(100) DEFAULT NULL,
  `employer_name` varchar(200) DEFAULT NULL,
  `employer_address` text DEFAULT NULL,
  `monthly_income` decimal(12,2) DEFAULT NULL,
  `annual_income` decimal(12,2) DEFAULT NULL,
  `business_name` varchar(200) DEFAULT NULL,
  `business_address` text DEFAULT NULL,
  `business_type` varchar(100) DEFAULT NULL,
  `business_income` decimal(12,2) DEFAULT NULL,
  `business_gross_receipts` decimal(15,2) DEFAULT 0.00,
  `has_real_property` tinyint(1) DEFAULT 0,
  `has_personal_property` tinyint(1) DEFAULT 0,
  `personal_property_value` decimal(15,2) DEFAULT 0.00,
  `property_assessed_value` decimal(15,2) DEFAULT NULL,
  `property_location` text DEFAULT NULL,
  `tin_number` varchar(20) DEFAULT NULL,
  `previous_ctc_number` varchar(50) DEFAULT NULL,
  `previous_ctc_date_issued` date DEFAULT NULL,
  `previous_ctc_place_issued` varchar(100) DEFAULT NULL,
  `computed_tax` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `request_id` (`request_id`),
  KEY `idx_tin_number` (`tin_number`),
  KEY `idx_occupation` (`occupation`),
  CONSTRAINT `cedula_applications_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cedula_applications`
--

LOCK TABLES `cedula_applications` WRITE;
/*!40000 ALTER TABLE `cedula_applications` DISABLE KEYS */;
/*!40000 ALTER TABLE `cedula_applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `civil_status`
--

DROP TABLE IF EXISTS `civil_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `civil_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `status_name` varchar(20) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `status_name` (`status_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `civil_status`
--

LOCK TABLES `civil_status` WRITE;
/*!40000 ALTER TABLE `civil_status` DISABLE KEYS */;
INSERT INTO `civil_status` VALUES (1,'Single','2025-06-08 08:27:00'),(2,'Married','2025-06-08 08:27:00'),(3,'Divorced','2025-06-08 08:27:00'),(4,'Widowed','2025-06-08 08:27:00'),(5,'Separated','2025-06-08 08:27:00');
/*!40000 ALTER TABLE `civil_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_accounts`
--

DROP TABLE IF EXISTS `client_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_accounts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `status` enum('active','inactive','suspended','pending_verification','pending_residency_verification','residency_rejected') DEFAULT 'pending_verification',
  `email_verified` tinyint(1) DEFAULT 0,
  `phone_verified` tinyint(1) DEFAULT 0,
  `last_login` timestamp NULL DEFAULT NULL,
  `password_changed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_username` (`username`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=80 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_accounts`
--

LOCK TABLES `client_accounts` WRITE;
/*!40000 ALTER TABLE `client_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client_profiles`
--

DROP TABLE IF EXISTS `client_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client_profiles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_id` int(11) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `suffix` varchar(10) DEFAULT NULL,
  `birth_date` date NOT NULL,
  `gender` enum('male','female') NOT NULL,
  `civil_status_id` int(11) NOT NULL,
  `nationality` varchar(50) DEFAULT 'Filipino',
  `phone_number` varchar(20) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `house_number` varchar(20) DEFAULT NULL,
  `street` varchar(100) DEFAULT NULL,
  `subdivision` varchar(100) DEFAULT NULL,
  `barangay` varchar(100) NOT NULL,
  `city_municipality` varchar(100) NOT NULL,
  `province` varchar(100) NOT NULL,
  `region` varchar(100) DEFAULT NULL,
  `region_code` varchar(20) DEFAULT NULL,
  `province_code` varchar(20) DEFAULT NULL,
  `city_code` varchar(20) DEFAULT NULL,
  `barangay_code` varchar(20) DEFAULT NULL,
  `postal_code` varchar(10) DEFAULT NULL,
  `years_of_residency` int(11) DEFAULT NULL,
  `months_of_residency` int(11) DEFAULT NULL,
  `profile_picture` varchar(255) DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  `residency_verified` tinyint(1) DEFAULT 0,
  `residency_verified_by` int(11) DEFAULT NULL,
  `residency_verified_at` timestamp NULL DEFAULT NULL,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `account_id` (`account_id`),
  KEY `civil_status_id` (`civil_status_id`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_full_name` (`last_name`,`first_name`),
  KEY `idx_birth_date` (`birth_date`),
  KEY `idx_barangay` (`barangay`),
  KEY `idx_email` (`email`),
  KEY `idx_phone` (`phone_number`),
  KEY `residency_verified_by` (`residency_verified_by`),
  KEY `idx_residency_verified` (`residency_verified`),
  CONSTRAINT `client_profiles_ibfk_1` FOREIGN KEY (`account_id`) REFERENCES `client_accounts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `client_profiles_ibfk_2` FOREIGN KEY (`civil_status_id`) REFERENCES `civil_status` (`id`),
  CONSTRAINT `client_profiles_ibfk_3` FOREIGN KEY (`verified_by`) REFERENCES `admin_employee_accounts` (`id`),
  CONSTRAINT `client_profiles_ibfk_4` FOREIGN KEY (`residency_verified_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client_profiles`
--

LOCK TABLES `client_profiles` WRITE;
/*!40000 ALTER TABLE `client_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `client_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_beneficiaries`
--

DROP TABLE IF EXISTS `document_beneficiaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_beneficiaries` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `suffix` varchar(10) DEFAULT NULL,
  `birth_date` date NOT NULL,
  `gender` enum('male','female') NOT NULL,
  `civil_status_id` int(11) NOT NULL,
  `nationality` varchar(50) DEFAULT 'Filipino',
  `phone_number` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `house_number` varchar(20) DEFAULT NULL,
  `street` varchar(100) DEFAULT NULL,
  `subdivision` varchar(100) DEFAULT NULL,
  `barangay` varchar(100) NOT NULL,
  `city_municipality` varchar(100) NOT NULL,
  `province` varchar(100) NOT NULL,
  `region` varchar(100) DEFAULT NULL,
  `region_code` varchar(20) DEFAULT NULL,
  `province_code` varchar(20) DEFAULT NULL,
  `city_code` varchar(20) DEFAULT NULL,
  `barangay_code` varchar(20) DEFAULT NULL,
  `postal_code` varchar(10) DEFAULT NULL,
  `years_of_residency` int(11) DEFAULT NULL,
  `months_of_residency` int(11) DEFAULT NULL,
  `relationship_to_requestor` varchar(100) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `verification_image_path` varchar(500) DEFAULT NULL,
  `verification_image_name` varchar(200) DEFAULT NULL,
  `verification_image_size` int(11) DEFAULT NULL,
  `verification_image_mime_type` varchar(100) DEFAULT NULL,
  `verification_status` enum('pending','approved','rejected') DEFAULT 'pending',
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `verification_notes` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `civil_status_id` (`civil_status_id`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_full_name` (`last_name`,`first_name`),
  KEY `idx_birth_date` (`birth_date`),
  CONSTRAINT `document_beneficiaries_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `document_beneficiaries_ibfk_2` FOREIGN KEY (`civil_status_id`) REFERENCES `civil_status` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_beneficiaries`
--

LOCK TABLES `document_beneficiaries` WRITE;
/*!40000 ALTER TABLE `document_beneficiaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_beneficiaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_requests`
--

DROP TABLE IF EXISTS `document_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_number` varchar(50) NOT NULL,
  `client_id` int(11) NOT NULL,
  `is_third_party_request` tinyint(1) DEFAULT 0,
  `document_type_id` int(11) NOT NULL,
  `purpose_category_id` int(11) NOT NULL,
  `purpose_details` text DEFAULT NULL,
  `requestor_notes` text DEFAULT NULL,
  `status_id` int(11) NOT NULL,
  `priority` enum('normal','urgent') DEFAULT 'normal',
  `processed_by` int(11) DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `processed_at` timestamp NULL DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `payment_method_id` int(11) DEFAULT NULL,
  `payment_status` enum('pending','processing','paid','failed','refunded','cancelled') DEFAULT 'pending',
  `payment_reference` varchar(100) DEFAULT NULL,
  `payment_provider_reference` varchar(100) DEFAULT NULL,
  `paid_at` timestamp NULL DEFAULT NULL,
  `delivery_method` enum('pickup','delivery') DEFAULT 'pickup',
  `delivery_address` text DEFAULT NULL,
  `total_document_fee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `target_completion_date` date DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `request_number` (`request_number`),
  KEY `purpose_category_id` (`purpose_category_id`),
  KEY `processed_by` (`processed_by`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_request_number` (`request_number`),
  KEY `idx_client_id` (`client_id`),
  KEY `idx_document_type` (`document_type_id`),
  KEY `idx_status` (`status_id`),
  KEY `idx_payment_status` (`payment_status`),
  KEY `idx_payment_method` (`payment_method_id`),
  KEY `idx_requested_at` (`requested_at`),
  KEY `idx_total_document_fee` (`total_document_fee`),
  CONSTRAINT `document_requests_ibfk_1` FOREIGN KEY (`client_id`) REFERENCES `client_accounts` (`id`),
  CONSTRAINT `document_requests_ibfk_2` FOREIGN KEY (`document_type_id`) REFERENCES `document_types` (`id`),
  CONSTRAINT `document_requests_ibfk_3` FOREIGN KEY (`purpose_category_id`) REFERENCES `purpose_categories` (`id`),
  CONSTRAINT `document_requests_ibfk_4` FOREIGN KEY (`status_id`) REFERENCES `request_status` (`id`),
  CONSTRAINT `document_requests_ibfk_5` FOREIGN KEY (`payment_method_id`) REFERENCES `payment_methods` (`id`),
  CONSTRAINT `document_requests_ibfk_6` FOREIGN KEY (`processed_by`) REFERENCES `admin_employee_accounts` (`id`),
  CONSTRAINT `document_requests_ibfk_7` FOREIGN KEY (`approved_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=194 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_requests`
--

LOCK TABLES `document_requests` WRITE;
/*!40000 ALTER TABLE `document_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_types`
--

DROP TABLE IF EXISTS `document_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document_types` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type_name` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `base_fee` decimal(10,2) NOT NULL DEFAULT 0.00,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `type_name` (`type_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_types`
--

LOCK TABLES `document_types` WRITE;
/*!40000 ALTER TABLE `document_types` DISABLE KEYS */;
INSERT INTO `document_types` VALUES (1,'Cedula','Community Tax Certificate',30.00,1,'2025-06-08 08:27:00'),(2,'Barangay Clearance','Certificate of Good Moral Character',150.00,1,'2025-06-08 08:27:00');
/*!40000 ALTER TABLE `document_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `generated_documents`
--

DROP TABLE IF EXISTS `generated_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `generated_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `document_number` varchar(100) NOT NULL,
  `document_path` varchar(500) DEFAULT NULL,
  `qr_code_data` text DEFAULT NULL,
  `issued_date` date NOT NULL,
  `expiry_date` date DEFAULT NULL,
  `is_valid` tinyint(1) DEFAULT 1,
  `issued_by` int(11) NOT NULL,
  `authorized_signatory` varchar(200) DEFAULT NULL,
  `security_hash` varchar(255) DEFAULT NULL,
  `verification_code` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `document_number` (`document_number`),
  KEY `request_id` (`request_id`),
  KEY `issued_by` (`issued_by`),
  KEY `idx_document_number` (`document_number`),
  KEY `idx_verification_code` (`verification_code`),
  KEY `idx_issued_date` (`issued_date`),
  CONSTRAINT `generated_documents_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`),
  CONSTRAINT `generated_documents_ibfk_2` FOREIGN KEY (`issued_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `generated_documents`
--

LOCK TABLES `generated_documents` WRITE;
/*!40000 ALTER TABLE `generated_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `generated_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `recipient_type` enum('admin','client') NOT NULL DEFAULT 'admin',
  `recipient_id` int(11) DEFAULT NULL,
  `type` varchar(50) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `priority` enum('low','normal','high','urgent') DEFAULT 'normal',
  `is_read` tinyint(1) DEFAULT 0,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_recipient_type` (`recipient_type`),
  KEY `idx_recipient_id` (`recipient_id`),
  KEY `idx_type` (`type`),
  KEY `idx_priority` (`priority`),
  KEY `idx_is_read` (`is_read`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=444 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otps`
--

DROP TABLE IF EXISTS `otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) DEFAULT NULL,
  `phone_number` varchar(20) DEFAULT NULL,
  `otp_code` varchar(10) NOT NULL,
  `delivery_method` enum('email','sms') DEFAULT 'email',
  `purpose` enum('registration','password_reset','email_verification','login') DEFAULT 'registration',
  `expires_at` datetime NOT NULL,
  `is_used` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_email_purpose` (`email`,`purpose`),
  KEY `idx_otp_code` (`otp_code`),
  KEY `idx_expires_at` (`expires_at`),
  KEY `idx_phone_purpose` (`phone_number`,`purpose`)
) ENGINE=InnoDB AUTO_INCREMENT=146 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otps`
--

LOCK TABLES `otps` WRITE;
/*!40000 ALTER TABLE `otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_methods`
--

DROP TABLE IF EXISTS `payment_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_methods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `method_name` varchar(50) NOT NULL,
  `method_code` varchar(20) NOT NULL,
  `description` text DEFAULT NULL,
  `is_online` tinyint(1) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `processing_fee_percentage` decimal(5,2) DEFAULT 0.00,
  `processing_fee_fixed` decimal(10,2) DEFAULT 0.00,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `requires_verification` tinyint(1) DEFAULT 0 COMMENT 'Whether payment method requires manual verification',
  PRIMARY KEY (`id`),
  UNIQUE KEY `method_name` (`method_name`),
  UNIQUE KEY `method_code` (`method_code`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_methods`
--

LOCK TABLES `payment_methods` WRITE;
/*!40000 ALTER TABLE `payment_methods` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_transactions`
--

DROP TABLE IF EXISTS `payment_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `payment_method_id` int(11) NOT NULL,
  `transaction_id` varchar(100) NOT NULL,
  `external_transaction_id` varchar(100) DEFAULT NULL,
  `paymongo_payment_intent_id` varchar(100) DEFAULT NULL,
  `paymongo_payment_method_id` varchar(100) DEFAULT NULL,
  `paymongo_source_id` varchar(100) DEFAULT NULL,
  `amount` decimal(10,2) NOT NULL,
  `processing_fee` decimal(10,2) DEFAULT 0.00,
  `net_amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) DEFAULT 'PHP',
  `status` enum('pending','processing','succeeded','failed','cancelled','refunded') DEFAULT 'pending',
  `failure_reason` text DEFAULT NULL,
  `payment_description` text DEFAULT NULL,
  `customer_email` varchar(100) DEFAULT NULL,
  `customer_phone` varchar(20) DEFAULT NULL,
  `webhook_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`webhook_data`)),
  `callback_url` varchar(500) DEFAULT NULL,
  `success_url` varchar(500) DEFAULT NULL,
  `cancel_url` varchar(500) DEFAULT NULL,
  `initiated_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `completed_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `verified_by` int(11) DEFAULT NULL COMMENT 'Admin who verified in-person payment',
  `verified_at` timestamp NULL DEFAULT NULL COMMENT 'When payment was verified',
  `receipt_number` varchar(100) DEFAULT NULL COMMENT 'Physical receipt number for cash payments',
  `verification_notes` text DEFAULT NULL COMMENT 'Additional notes from payment verification',
  PRIMARY KEY (`id`),
  UNIQUE KEY `transaction_id` (`transaction_id`),
  KEY `payment_method_id` (`payment_method_id`),
  KEY `idx_transaction_id` (`transaction_id`),
  KEY `idx_external_transaction_id` (`external_transaction_id`),
  KEY `idx_paymongo_payment_intent` (`paymongo_payment_intent_id`),
  KEY `idx_status` (`status`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_initiated_at` (`initiated_at`),
  KEY `idx_verified_by` (`verified_by`),
  KEY `idx_verified_at` (`verified_at`),
  KEY `idx_receipt_number` (`receipt_number`),
  CONSTRAINT `fk_payment_verified_by` FOREIGN KEY (`verified_by`) REFERENCES `admin_employee_accounts` (`id`),
  CONSTRAINT `payment_transactions_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_transactions_ibfk_2` FOREIGN KEY (`payment_method_id`) REFERENCES `payment_methods` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_transactions`
--

LOCK TABLES `payment_transactions` WRITE;
/*!40000 ALTER TABLE `payment_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_transactions` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = cp850 */ ;
/*!50003 SET character_set_results = cp850 */ ;
/*!50003 SET collation_connection  = cp850_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER tr_create_receipt_on_payment_success
AFTER UPDATE ON payment_transactions
FOR EACH ROW
BEGIN
  
  IF NEW.status = 'succeeded' AND OLD.status != 'succeeded' THEN
    
    IF NOT EXISTS (SELECT 1 FROM receipts WHERE transaction_id = NEW.id) THEN
      
      INSERT INTO receipts (
        transaction_id,
        client_id,
        request_id,
        receipt_number,
        client_name,
        client_email,
        client_phone,
        request_number,
        document_type,
        payment_method,
        payment_method_code,
        amount,
        processing_fee,
        net_amount,
        currency,
        external_transaction_id,
        paymongo_payment_intent_id,
        payment_status,
        receipt_date,
        payment_date,
        description
      )
      SELECT 
        NEW.id as transaction_id,
        dr.client_id,
        NEW.request_id,
        CONCAT('RCP-', LPAD(NEW.id, 8, '0')) as receipt_number,
        CONCAT(cp.first_name, ' ', cp.last_name) as client_name,
        cp.email as client_email,
        cp.phone_number as client_phone,
        dr.request_number,
        dt.type_name as document_type,
        pm.method_name as payment_method,
        pm.method_code as payment_method_code,
        NEW.amount,
        NEW.processing_fee,
        NEW.net_amount,
        NEW.currency,
        NEW.external_transaction_id,
        NEW.paymongo_payment_intent_id,
        NEW.status as payment_status,
        COALESCE(NEW.completed_at, NOW()) as receipt_date,
        NEW.completed_at as payment_date,
        NEW.payment_description as description
      FROM document_requests dr
      JOIN client_profiles cp ON dr.client_id = cp.account_id
      JOIN document_types dt ON dr.document_type_id = dt.id
      JOIN payment_methods pm ON NEW.payment_method_id = pm.id
      WHERE dr.id = NEW.request_id;
    END IF;
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `payment_verifications`
--

DROP TABLE IF EXISTS `payment_verifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_verifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `payment_method_id` int(11) NOT NULL,
  `amount_received` decimal(10,2) NOT NULL,
  `receipt_number` varchar(100) DEFAULT NULL,
  `verification_notes` text DEFAULT NULL,
  `proof_image_path` varchar(500) DEFAULT NULL,
  `verified_by` int(11) NOT NULL,
  `verified_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `request_id` (`request_id`),
  KEY `payment_method_id` (`payment_method_id`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_verified_at` (`verified_at`),
  CONSTRAINT `payment_verifications_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payment_verifications_ibfk_2` FOREIGN KEY (`payment_method_id`) REFERENCES `payment_methods` (`id`),
  CONSTRAINT `payment_verifications_ibfk_3` FOREIGN KEY (`verified_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_verifications`
--

LOCK TABLES `payment_verifications` WRITE;
/*!40000 ALTER TABLE `payment_verifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_verifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_webhooks`
--

DROP TABLE IF EXISTS `payment_webhooks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_webhooks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `webhook_id` varchar(100) NOT NULL,
  `event_type` varchar(100) NOT NULL,
  `transaction_id` varchar(100) DEFAULT NULL,
  `payment_transaction_id` int(11) DEFAULT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `signature` varchar(500) DEFAULT NULL,
  `processed` tinyint(1) DEFAULT 0,
  `processed_at` timestamp NULL DEFAULT NULL,
  `error_message` text DEFAULT NULL,
  `retry_count` int(11) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `payment_transaction_id` (`payment_transaction_id`),
  KEY `idx_webhook_id` (`webhook_id`),
  KEY `idx_event_type` (`event_type`),
  KEY `idx_transaction_id` (`transaction_id`),
  KEY `idx_processed` (`processed`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `payment_webhooks_ibfk_1` FOREIGN KEY (`payment_transaction_id`) REFERENCES `payment_transactions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_webhooks`
--

LOCK TABLES `payment_webhooks` WRITE;
/*!40000 ALTER TABLE `payment_webhooks` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_webhooks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `pending_residency_verifications`
--

DROP TABLE IF EXISTS `pending_residency_verifications`;
/*!50001 DROP VIEW IF EXISTS `pending_residency_verifications`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `pending_residency_verifications` AS SELECT 
 1 AS `account_id`,
 1 AS `username`,
 1 AS `account_status`,
 1 AS `registration_date`,
 1 AS `first_name`,
 1 AS `middle_name`,
 1 AS `last_name`,
 1 AS `email`,
 1 AS `phone_number`,
 1 AS `barangay`,
 1 AS `city_municipality`,
 1 AS `province`,
 1 AS `years_of_residency`,
 1 AS `months_of_residency`,
 1 AS `document_count`,
 1 AS `latest_document_upload`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `pickup_schedules`
--

DROP TABLE IF EXISTS `pickup_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pickup_schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `authorized_pickup_person_id` int(11) DEFAULT NULL,
  `scheduled_date` date NOT NULL,
  `scheduled_time_start` time NOT NULL,
  `scheduled_time_end` time NOT NULL,
  `pickup_notes` text DEFAULT NULL,
  `scheduled_by` int(11) NOT NULL,
  `client_confirmed` tinyint(1) DEFAULT 0,
  `client_confirmed_at` timestamp NULL DEFAULT NULL,
  `actual_pickup_at` timestamp NULL DEFAULT NULL,
  `picked_up_by_name` varchar(200) DEFAULT NULL,
  `picked_up_by_id_type` varchar(50) DEFAULT NULL,
  `picked_up_by_id_number` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `request_id` (`request_id`),
  KEY `scheduled_by` (`scheduled_by`),
  KEY `idx_scheduled_date` (`scheduled_date`),
  KEY `idx_actual_pickup` (`actual_pickup_at`),
  KEY `fk_pickup_authorized_person` (`authorized_pickup_person_id`),
  CONSTRAINT `fk_pickup_authorized_person` FOREIGN KEY (`authorized_pickup_person_id`) REFERENCES `authorized_pickup_persons` (`id`),
  CONSTRAINT `pickup_schedules_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pickup_schedules_ibfk_2` FOREIGN KEY (`scheduled_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pickup_schedules`
--

LOCK TABLES `pickup_schedules` WRITE;
/*!40000 ALTER TABLE `pickup_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `pickup_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purpose_categories`
--

DROP TABLE IF EXISTS `purpose_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purpose_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_name` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purpose_categories`
--

LOCK TABLES `purpose_categories` WRITE;
/*!40000 ALTER TABLE `purpose_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `purpose_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receipts`
--

DROP TABLE IF EXISTS `receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receipts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `transaction_id` int(11) NOT NULL,
  `client_id` int(11) NOT NULL,
  `request_id` int(11) NOT NULL,
  `receipt_number` varchar(100) NOT NULL,
  `client_name` varchar(255) NOT NULL,
  `client_email` varchar(100) DEFAULT NULL,
  `client_phone` varchar(20) DEFAULT NULL,
  `request_number` varchar(100) NOT NULL,
  `document_type` varchar(100) NOT NULL,
  `payment_method` varchar(50) NOT NULL,
  `payment_method_code` varchar(20) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `processing_fee` decimal(10,2) DEFAULT 0.00,
  `net_amount` decimal(10,2) NOT NULL,
  `currency` varchar(3) DEFAULT 'PHP',
  `external_transaction_id` varchar(100) DEFAULT NULL,
  `paymongo_payment_intent_id` varchar(100) DEFAULT NULL,
  `payment_status` enum('pending','processing','succeeded','failed','cancelled','refunded') DEFAULT 'succeeded',
  `receipt_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `payment_date` timestamp NULL DEFAULT NULL,
  `description` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `receipt_number` (`receipt_number`),
  KEY `idx_client_id` (`client_id`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_transaction_id` (`transaction_id`),
  KEY `idx_receipt_number` (`receipt_number`),
  KEY `idx_receipt_date` (`receipt_date`),
  KEY `idx_payment_status` (`payment_status`),
  KEY `idx_external_transaction_id` (`external_transaction_id`),
  KEY `idx_receipts_client_date` (`client_id`,`receipt_date`),
  KEY `idx_receipts_status_date` (`payment_status`,`receipt_date`),
  CONSTRAINT `receipts_ibfk_1` FOREIGN KEY (`transaction_id`) REFERENCES `payment_transactions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `receipts_ibfk_2` FOREIGN KEY (`client_id`) REFERENCES `client_accounts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `receipts_ibfk_3` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receipts`
--

LOCK TABLES `receipts` WRITE;
/*!40000 ALTER TABLE `receipts` DISABLE KEYS */;
/*!40000 ALTER TABLE `receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `request_status`
--

DROP TABLE IF EXISTS `request_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `request_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `status_name` varchar(30) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `status_name` (`status_name`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `request_status`
--

LOCK TABLES `request_status` WRITE;
/*!40000 ALTER TABLE `request_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `request_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `request_status_history`
--

DROP TABLE IF EXISTS `request_status_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `request_status_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `old_status_id` int(11) DEFAULT NULL,
  `new_status_id` int(11) NOT NULL,
  `changed_by` int(11) NOT NULL,
  `change_reason` text DEFAULT NULL,
  `changed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `old_status_id` (`old_status_id`),
  KEY `new_status_id` (`new_status_id`),
  KEY `changed_by` (`changed_by`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_changed_at` (`changed_at`),
  CONSTRAINT `request_status_history_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `request_status_history_ibfk_2` FOREIGN KEY (`old_status_id`) REFERENCES `request_status` (`id`),
  CONSTRAINT `request_status_history_ibfk_3` FOREIGN KEY (`new_status_id`) REFERENCES `request_status` (`id`),
  CONSTRAINT `request_status_history_ibfk_4` FOREIGN KEY (`changed_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=182 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `request_status_history`
--

LOCK TABLES `request_status_history` WRITE;
/*!40000 ALTER TABLE `request_status_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `request_status_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `residency_documents`
--

DROP TABLE IF EXISTS `residency_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `residency_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_id` int(11) NOT NULL,
  `document_type` enum('utility_bill','barangay_certificate','valid_id','lease_contract','other') NOT NULL,
  `document_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int(11) DEFAULT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `verification_status` enum('pending','approved','rejected') DEFAULT 'pending',
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_account_id` (`account_id`),
  KEY `idx_verification_status` (`verification_status`),
  KEY `idx_document_type` (`document_type`),
  CONSTRAINT `residency_documents_ibfk_1` FOREIGN KEY (`account_id`) REFERENCES `client_accounts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `residency_documents_ibfk_2` FOREIGN KEY (`verified_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `residency_documents`
--

LOCK TABLES `residency_documents` WRITE;
/*!40000 ALTER TABLE `residency_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `residency_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supporting_documents`
--

DROP TABLE IF EXISTS `supporting_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supporting_documents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `document_name` varchar(200) NOT NULL,
  `document_type` varchar(100) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int(11) DEFAULT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `uploaded_by` int(11) NOT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  `verified_by` int(11) DEFAULT NULL,
  `verified_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `uploaded_by` (`uploaded_by`),
  KEY `verified_by` (`verified_by`),
  KEY `idx_request_id` (`request_id`),
  KEY `idx_document_type` (`document_type`),
  CONSTRAINT `supporting_documents_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `document_requests` (`id`) ON DELETE CASCADE,
  CONSTRAINT `supporting_documents_ibfk_2` FOREIGN KEY (`uploaded_by`) REFERENCES `client_accounts` (`id`),
  CONSTRAINT `supporting_documents_ibfk_3` FOREIGN KEY (`verified_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supporting_documents`
--

LOCK TABLES `supporting_documents` WRITE;
/*!40000 ALTER TABLE `supporting_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `supporting_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` text DEFAULT NULL,
  `setting_type` enum('string','number','boolean','json') DEFAULT 'string',
  `description` text DEFAULT NULL,
  `is_public` tinyint(1) DEFAULT 0,
  `updated_by` int(11) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `updated_by` (`updated_by`),
  KEY `idx_setting_key` (`setting_key`),
  CONSTRAINT `system_settings_ibfk_1` FOREIGN KEY (`updated_by`) REFERENCES `admin_employee_accounts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_client_complete`
--

DROP TABLE IF EXISTS `v_client_complete`;
/*!50001 DROP VIEW IF EXISTS `v_client_complete`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_client_complete` AS SELECT 
 1 AS `account_id`,
 1 AS `username`,
 1 AS `account_status`,
 1 AS `email_verified`,
 1 AS `phone_verified`,
 1 AS `profile_id`,
 1 AS `full_name`,
 1 AS `first_name`,
 1 AS `middle_name`,
 1 AS `last_name`,
 1 AS `suffix`,
 1 AS `birth_date`,
 1 AS `age`,
 1 AS `gender`,
 1 AS `civil_status`,
 1 AS `nationality`,
 1 AS `phone_number`,
 1 AS `email`,
 1 AS `complete_address`,
 1 AS `barangay`,
 1 AS `city_municipality`,
 1 AS `province`,
 1 AS `years_of_residency`,
 1 AS `months_of_residency`,
 1 AS `is_verified`,
 1 AS `verified_at`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_document_requests_complete`
--

DROP TABLE IF EXISTS `v_document_requests_complete`;
/*!50001 DROP VIEW IF EXISTS `v_document_requests_complete`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_document_requests_complete` AS SELECT 
 1 AS `request_id`,
 1 AS `request_number`,
 1 AS `document_type`,
 1 AS `purpose_category`,
 1 AS `purpose_details`,
 1 AS `current_status`,
 1 AS `priority`,
 1 AS `total_fee`,
 1 AS `base_fee`,
 1 AS `payment_status`,
 1 AS `payment_method`,
 1 AS `is_online_payment`,
 1 AS `payment_reference`,
 1 AS `payment_provider_reference`,
 1 AS `paid_at`,
 1 AS `delivery_method`,
 1 AS `requested_at`,
 1 AS `target_completion_date`,
 1 AS `completed_at`,
 1 AS `client_name`,
 1 AS `client_phone`,
 1 AS `client_email`,
 1 AS `client_address`,
 1 AS `processed_by_name`,
 1 AS `approved_by_name`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_document_requests_with_beneficiary`
--

DROP TABLE IF EXISTS `v_document_requests_with_beneficiary`;
/*!50001 DROP VIEW IF EXISTS `v_document_requests_with_beneficiary`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_document_requests_with_beneficiary` AS SELECT 
 1 AS `id`,
 1 AS `request_number`,
 1 AS `client_id`,
 1 AS `is_third_party_request`,
 1 AS `document_type_id`,
 1 AS `purpose_category_id`,
 1 AS `purpose_details`,
 1 AS `requestor_notes`,
 1 AS `status_id`,
 1 AS `priority`,
 1 AS `processed_by`,
 1 AS `approved_by`,
 1 AS `processed_at`,
 1 AS `approved_at`,
 1 AS `base_fee`,
 1 AS `total_document_fee`,
 1 AS `payment_method_id`,
 1 AS `payment_status`,
 1 AS `payment_reference`,
 1 AS `payment_provider_reference`,
 1 AS `paid_at`,
 1 AS `delivery_method`,
 1 AS `delivery_address`,
 1 AS `requested_at`,
 1 AS `target_completion_date`,
 1 AS `completed_at`,
 1 AS `created_at`,
 1 AS `updated_at`,
 1 AS `document_type`,
 1 AS `purpose_category`,
 1 AS `status`,
 1 AS `payment_method`,
 1 AS `requestor_name`,
 1 AS `requestor_email`,
 1 AS `requestor_phone`,
 1 AS `beneficiary_name`,
 1 AS `beneficiary_email`,
 1 AS `beneficiary_phone`,
 1 AS `relationship_to_requestor`,
 1 AS `pickup_person_name`,
 1 AS `pickup_person_phone`,
 1 AS `pickup_person_id_type`,
 1 AS `pickup_person_id_number`,
 1 AS `pickup_person_relationship`,
 1 AS `pickup_authorization_verified`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_payment_audit_trail`
--

DROP TABLE IF EXISTS `v_payment_audit_trail`;
/*!50001 DROP VIEW IF EXISTS `v_payment_audit_trail`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_payment_audit_trail` AS SELECT 
 1 AS `transaction_id`,
 1 AS `reference_number`,
 1 AS `request_number`,
 1 AS `document_name`,
 1 AS `payment_method`,
 1 AS `amount`,
 1 AS `processing_fee`,
 1 AS `net_amount`,
 1 AS `payment_status`,
 1 AS `initiated_at`,
 1 AS `verified_at`,
 1 AS `receipt_number`,
 1 AS `verification_notes`,
 1 AS `client_name`,
 1 AS `verified_by_name`,
 1 AS `payment_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_payment_transactions_complete`
--

DROP TABLE IF EXISTS `v_payment_transactions_complete`;
/*!50001 DROP VIEW IF EXISTS `v_payment_transactions_complete`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_payment_transactions_complete` AS SELECT 
 1 AS `transaction_id`,
 1 AS `internal_transaction_id`,
 1 AS `external_transaction_id`,
 1 AS `paymongo_payment_intent_id`,
 1 AS `request_number`,
 1 AS `request_id`,
 1 AS `client_name`,
 1 AS `client_email`,
 1 AS `client_phone`,
 1 AS `payment_method`,
 1 AS `payment_method_code`,
 1 AS `amount`,
 1 AS `processing_fee`,
 1 AS `net_amount`,
 1 AS `currency`,
 1 AS `payment_status`,
 1 AS `failure_reason`,
 1 AS `initiated_at`,
 1 AS `completed_at`,
 1 AS `expires_at`,
 1 AS `document_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_payment_verification_queue`
--

DROP TABLE IF EXISTS `v_payment_verification_queue`;
/*!50001 DROP VIEW IF EXISTS `v_payment_verification_queue`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_payment_verification_queue` AS SELECT 
 1 AS `request_id`,
 1 AS `request_number`,
 1 AS `status_id`,
 1 AS `status_name`,
 1 AS `document_name`,
 1 AS `base_fee`,
 1 AS `payment_method`,
 1 AS `requires_verification`,
 1 AS `client_name`,
 1 AS `client_email`,
 1 AS `request_date`,
 1 AS `approved_at`,
 1 AS `payment_status`,
 1 AS `transaction_id`,
 1 AS `payment_amount`,
 1 AS `transaction_status`,
 1 AS `verified_by`,
 1 AS `verified_at`,
 1 AS `receipt_number`,
 1 AS `verified_by_name`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_receipts_complete`
--

DROP TABLE IF EXISTS `v_receipts_complete`;
/*!50001 DROP VIEW IF EXISTS `v_receipts_complete`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_receipts_complete` AS SELECT 
 1 AS `id`,
 1 AS `transaction_id`,
 1 AS `client_id`,
 1 AS `request_id`,
 1 AS `receipt_number`,
 1 AS `client_name`,
 1 AS `client_email`,
 1 AS `client_phone`,
 1 AS `request_number`,
 1 AS `document_type`,
 1 AS `payment_method`,
 1 AS `payment_method_code`,
 1 AS `amount`,
 1 AS `processing_fee`,
 1 AS `net_amount`,
 1 AS `currency`,
 1 AS `external_transaction_id`,
 1 AS `paymongo_payment_intent_id`,
 1 AS `payment_status`,
 1 AS `receipt_date`,
 1 AS `payment_date`,
 1 AS `description`,
 1 AS `notes`,
 1 AS `created_at`,
 1 AS `updated_at`,
 1 AS `payment_initiated_at`,
 1 AS `payment_completed_at`,
 1 AS `request_status_id`,
 1 AS `request_status`,
 1 AS `document_type_full`,
 1 AS `document_base_fee`*/;
SET character_set_client = @saved_cs_client;

--
-- Current Database: `barangay_management_system`
--

USE `barangay_management_system`;

--
-- Final view structure for view `pending_residency_verifications`
--

/*!50001 DROP VIEW IF EXISTS `pending_residency_verifications`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `pending_residency_verifications` AS select `ca`.`id` AS `account_id`,`ca`.`username` AS `username`,`ca`.`status` AS `account_status`,`ca`.`created_at` AS `registration_date`,`cp`.`first_name` AS `first_name`,`cp`.`middle_name` AS `middle_name`,`cp`.`last_name` AS `last_name`,`cp`.`email` AS `email`,`cp`.`phone_number` AS `phone_number`,`cp`.`barangay` AS `barangay`,`cp`.`city_municipality` AS `city_municipality`,`cp`.`province` AS `province`,`cp`.`years_of_residency` AS `years_of_residency`,`cp`.`months_of_residency` AS `months_of_residency`,count(`rd`.`id`) AS `document_count`,max(`rd`.`created_at`) AS `latest_document_upload` from ((`client_accounts` `ca` left join `client_profiles` `cp` on(`ca`.`id` = `cp`.`account_id`)) left join `residency_documents` `rd` on(`ca`.`id` = `rd`.`account_id`)) where `ca`.`status` in ('pending_residency_verification','residency_rejected') group by `ca`.`id`,`ca`.`username`,`ca`.`status`,`ca`.`created_at`,`cp`.`first_name`,`cp`.`middle_name`,`cp`.`last_name`,`cp`.`email`,`cp`.`phone_number`,`cp`.`barangay`,`cp`.`city_municipality`,`cp`.`province`,`cp`.`years_of_residency`,`cp`.`months_of_residency` order by `ca`.`created_at` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_client_complete`
--

/*!50001 DROP VIEW IF EXISTS `v_client_complete`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_client_complete` AS select `ca`.`id` AS `account_id`,`ca`.`username` AS `username`,`ca`.`status` AS `account_status`,`ca`.`email_verified` AS `email_verified`,`ca`.`phone_verified` AS `phone_verified`,`cp`.`id` AS `profile_id`,concat(`cp`.`first_name`,case when `cp`.`middle_name` is not null then concat(' ',`cp`.`middle_name`) else '' end,' ',`cp`.`last_name`,case when `cp`.`suffix` is not null then concat(' ',`cp`.`suffix`) else '' end) AS `full_name`,`cp`.`first_name` AS `first_name`,`cp`.`middle_name` AS `middle_name`,`cp`.`last_name` AS `last_name`,`cp`.`suffix` AS `suffix`,`cp`.`birth_date` AS `birth_date`,year(curdate()) - year(`cp`.`birth_date`) - (date_format(curdate(),'%m%d') < date_format(`cp`.`birth_date`,'%m%d')) AS `age`,`cp`.`gender` AS `gender`,`cs`.`status_name` AS `civil_status`,`cp`.`nationality` AS `nationality`,`cp`.`phone_number` AS `phone_number`,`cp`.`email` AS `email`,concat_ws(', ',nullif(concat_ws(' ',`cp`.`house_number`,`cp`.`street`),''),nullif(`cp`.`subdivision`,''),`cp`.`barangay`,`cp`.`city_municipality`,`cp`.`province`,nullif(`cp`.`postal_code`,'')) AS `complete_address`,`cp`.`barangay` AS `barangay`,`cp`.`city_municipality` AS `city_municipality`,`cp`.`province` AS `province`,`cp`.`years_of_residency` AS `years_of_residency`,`cp`.`months_of_residency` AS `months_of_residency`,`cp`.`is_verified` AS `is_verified`,`cp`.`verified_at` AS `verified_at` from ((`client_accounts` `ca` join `client_profiles` `cp` on(`ca`.`id` = `cp`.`account_id`)) join `civil_status` `cs` on(`cp`.`civil_status_id` = `cs`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_document_requests_complete`
--

/*!50001 DROP VIEW IF EXISTS `v_document_requests_complete`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_document_requests_complete` AS select `dr`.`id` AS `request_id`,`dr`.`request_number` AS `request_number`,`dt`.`type_name` AS `document_type`,`pc`.`category_name` AS `purpose_category`,`dr`.`purpose_details` AS `purpose_details`,`rs`.`status_name` AS `current_status`,`dr`.`priority` AS `priority`,`dr`.`total_document_fee` AS `total_fee`,`dt`.`base_fee` AS `base_fee`,`dr`.`payment_status` AS `payment_status`,`pm`.`method_name` AS `payment_method`,`pm`.`is_online` AS `is_online_payment`,`dr`.`payment_reference` AS `payment_reference`,`dr`.`payment_provider_reference` AS `payment_provider_reference`,`dr`.`paid_at` AS `paid_at`,`dr`.`delivery_method` AS `delivery_method`,`dr`.`requested_at` AS `requested_at`,`dr`.`target_completion_date` AS `target_completion_date`,`dr`.`completed_at` AS `completed_at`,`vc`.`full_name` AS `client_name`,`vc`.`phone_number` AS `client_phone`,`vc`.`email` AS `client_email`,`vc`.`complete_address` AS `client_address`,concat(`aep_processed`.`first_name`,' ',`aep_processed`.`last_name`) AS `processed_by_name`,concat(`aep_approved`.`first_name`,' ',`aep_approved`.`last_name`) AS `approved_by_name` from (((((((((`document_requests` `dr` join `document_types` `dt` on(`dr`.`document_type_id` = `dt`.`id`)) join `purpose_categories` `pc` on(`dr`.`purpose_category_id` = `pc`.`id`)) join `request_status` `rs` on(`dr`.`status_id` = `rs`.`id`)) join `v_client_complete` `vc` on(`dr`.`client_id` = `vc`.`account_id`)) left join `payment_methods` `pm` on(`dr`.`payment_method_id` = `pm`.`id`)) left join `admin_employee_accounts` `aea_processed` on(`dr`.`processed_by` = `aea_processed`.`id`)) left join `admin_employee_profiles` `aep_processed` on(`aea_processed`.`id` = `aep_processed`.`account_id`)) left join `admin_employee_accounts` `aea_approved` on(`dr`.`approved_by` = `aea_approved`.`id`)) left join `admin_employee_profiles` `aep_approved` on(`aea_approved`.`id` = `aep_approved`.`account_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_document_requests_with_beneficiary`
--

/*!50001 DROP VIEW IF EXISTS `v_document_requests_with_beneficiary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_document_requests_with_beneficiary` AS select `dr`.`id` AS `id`,`dr`.`request_number` AS `request_number`,`dr`.`client_id` AS `client_id`,`dr`.`is_third_party_request` AS `is_third_party_request`,`dr`.`document_type_id` AS `document_type_id`,`dr`.`purpose_category_id` AS `purpose_category_id`,`dr`.`purpose_details` AS `purpose_details`,`dr`.`requestor_notes` AS `requestor_notes`,`dr`.`status_id` AS `status_id`,`dr`.`priority` AS `priority`,`dr`.`processed_by` AS `processed_by`,`dr`.`approved_by` AS `approved_by`,`dr`.`processed_at` AS `processed_at`,`dr`.`approved_at` AS `approved_at`,`dt`.`base_fee` AS `base_fee`,`dr`.`total_document_fee` AS `total_document_fee`,`dr`.`payment_method_id` AS `payment_method_id`,`dr`.`payment_status` AS `payment_status`,`dr`.`payment_reference` AS `payment_reference`,`dr`.`payment_provider_reference` AS `payment_provider_reference`,`dr`.`paid_at` AS `paid_at`,`dr`.`delivery_method` AS `delivery_method`,`dr`.`delivery_address` AS `delivery_address`,`dr`.`requested_at` AS `requested_at`,`dr`.`target_completion_date` AS `target_completion_date`,`dr`.`completed_at` AS `completed_at`,`dr`.`created_at` AS `created_at`,`dr`.`updated_at` AS `updated_at`,`dt`.`type_name` AS `document_type`,`pc`.`category_name` AS `purpose_category`,`rs`.`status_name` AS `status`,`pm`.`method_name` AS `payment_method`,concat(`cp_requestor`.`first_name`,' ',coalesce(concat(`cp_requestor`.`middle_name`,' '),''),`cp_requestor`.`last_name`,coalesce(concat(' ',`cp_requestor`.`suffix`),'')) AS `requestor_name`,`cp_requestor`.`email` AS `requestor_email`,`cp_requestor`.`phone_number` AS `requestor_phone`,case when `dr`.`is_third_party_request` = 1 then concat(`db`.`first_name`,' ',coalesce(concat(`db`.`middle_name`,' '),''),`db`.`last_name`,coalesce(concat(' ',`db`.`suffix`),'')) else concat(`cp_requestor`.`first_name`,' ',coalesce(concat(`cp_requestor`.`middle_name`,' '),''),`cp_requestor`.`last_name`,coalesce(concat(' ',`cp_requestor`.`suffix`),'')) end AS `beneficiary_name`,case when `dr`.`is_third_party_request` = 1 then `db`.`email` else `cp_requestor`.`email` end AS `beneficiary_email`,case when `dr`.`is_third_party_request` = 1 then `db`.`phone_number` else `cp_requestor`.`phone_number` end AS `beneficiary_phone`,case when `dr`.`is_third_party_request` = 1 then `db`.`relationship_to_requestor` else 'self' end AS `relationship_to_requestor`,case when `app`.`id` is not null then concat(`app`.`first_name`,' ',coalesce(concat(`app`.`middle_name`,' '),''),`app`.`last_name`,coalesce(concat(' ',`app`.`suffix`),'')) else NULL end AS `pickup_person_name`,`app`.`phone_number` AS `pickup_person_phone`,`app`.`id_type` AS `pickup_person_id_type`,`app`.`id_number` AS `pickup_person_id_number`,`app`.`relationship_to_beneficiary` AS `pickup_person_relationship`,`app`.`is_verified` AS `pickup_authorization_verified` from (((((((`document_requests` `dr` join `document_types` `dt` on(`dr`.`document_type_id` = `dt`.`id`)) join `purpose_categories` `pc` on(`dr`.`purpose_category_id` = `pc`.`id`)) join `request_status` `rs` on(`dr`.`status_id` = `rs`.`id`)) left join `payment_methods` `pm` on(`dr`.`payment_method_id` = `pm`.`id`)) join `client_profiles` `cp_requestor` on(`dr`.`client_id` = `cp_requestor`.`account_id`)) left join `document_beneficiaries` `db` on(`dr`.`id` = `db`.`request_id`)) left join `authorized_pickup_persons` `app` on(`dr`.`id` = `app`.`request_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_payment_audit_trail`
--

/*!50001 DROP VIEW IF EXISTS `v_payment_audit_trail`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_payment_audit_trail` AS select `pt`.`id` AS `transaction_id`,`pt`.`transaction_id` AS `reference_number`,`dr`.`request_number` AS `request_number`,`dt`.`type_name` AS `document_name`,`pm`.`method_name` AS `payment_method`,`pt`.`amount` AS `amount`,`pt`.`processing_fee` AS `processing_fee`,`pt`.`net_amount` AS `net_amount`,`pt`.`status` AS `payment_status`,`pt`.`created_at` AS `initiated_at`,`pt`.`verified_at` AS `verified_at`,`pt`.`receipt_number` AS `receipt_number`,`pt`.`verification_notes` AS `verification_notes`,concat(`cp`.`first_name`,' ',`cp`.`last_name`) AS `client_name`,concat(`ap`.`first_name`,' ',`ap`.`last_name`) AS `verified_by_name`,case when `pm`.`is_online` = 1 then 'Online' else 'In-Person' end AS `payment_type` from (((((((`payment_transactions` `pt` join `document_requests` `dr` on(`pt`.`request_id` = `dr`.`id`)) join `document_types` `dt` on(`dr`.`document_type_id` = `dt`.`id`)) join `payment_methods` `pm` on(`pt`.`payment_method_id` = `pm`.`id`)) join `client_accounts` `ca` on(`dr`.`client_id` = `ca`.`id`)) join `client_profiles` `cp` on(`ca`.`id` = `cp`.`account_id`)) left join `admin_employee_accounts` `admin` on(`pt`.`verified_by` = `admin`.`id`)) left join `admin_employee_profiles` `ap` on(`admin`.`id` = `ap`.`account_id`)) order by `pt`.`created_at` desc */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_payment_transactions_complete`
--

/*!50001 DROP VIEW IF EXISTS `v_payment_transactions_complete`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_payment_transactions_complete` AS select `pt`.`id` AS `transaction_id`,`pt`.`transaction_id` AS `internal_transaction_id`,`pt`.`external_transaction_id` AS `external_transaction_id`,`pt`.`paymongo_payment_intent_id` AS `paymongo_payment_intent_id`,`dr`.`request_number` AS `request_number`,`dr`.`id` AS `request_id`,`vc`.`full_name` AS `client_name`,`vc`.`email` AS `client_email`,`vc`.`phone_number` AS `client_phone`,`pm`.`method_name` AS `payment_method`,`pm`.`method_code` AS `payment_method_code`,`pt`.`amount` AS `amount`,`pt`.`processing_fee` AS `processing_fee`,`pt`.`net_amount` AS `net_amount`,`pt`.`currency` AS `currency`,`pt`.`status` AS `payment_status`,`pt`.`failure_reason` AS `failure_reason`,`pt`.`initiated_at` AS `initiated_at`,`pt`.`completed_at` AS `completed_at`,`pt`.`expires_at` AS `expires_at`,`dt`.`type_name` AS `document_type` from ((((`payment_transactions` `pt` join `document_requests` `dr` on(`pt`.`request_id` = `dr`.`id`)) join `payment_methods` `pm` on(`pt`.`payment_method_id` = `pm`.`id`)) join `document_types` `dt` on(`dr`.`document_type_id` = `dt`.`id`)) join `v_client_complete` `vc` on(`dr`.`client_id` = `vc`.`account_id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_payment_verification_queue`
--

/*!50001 DROP VIEW IF EXISTS `v_payment_verification_queue`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_payment_verification_queue` AS select `dr`.`id` AS `request_id`,`dr`.`request_number` AS `request_number`,`dr`.`status_id` AS `status_id`,`rs`.`status_name` AS `status_name`,`dt`.`type_name` AS `document_name`,`dt`.`base_fee` AS `base_fee`,`pm`.`method_name` AS `payment_method`,`pm`.`requires_verification` AS `requires_verification`,concat(`cp`.`first_name`,' ',`cp`.`last_name`) AS `client_name`,`ca`.`username` AS `client_email`,`dr`.`created_at` AS `request_date`,`dr`.`approved_at` AS `approved_at`,`dr`.`payment_status` AS `payment_status`,`pt`.`transaction_id` AS `transaction_id`,`pt`.`amount` AS `payment_amount`,`pt`.`status` AS `transaction_status`,`pt`.`verified_by` AS `verified_by`,`pt`.`verified_at` AS `verified_at`,`pt`.`receipt_number` AS `receipt_number`,concat(`ap`.`first_name`,' ',`ap`.`last_name`) AS `verified_by_name` from ((((((((`document_requests` `dr` join `request_status` `rs` on(`dr`.`status_id` = `rs`.`id`)) join `document_types` `dt` on(`dr`.`document_type_id` = `dt`.`id`)) join `payment_methods` `pm` on(`dr`.`payment_method_id` = `pm`.`id`)) join `client_accounts` `ca` on(`dr`.`client_id` = `ca`.`id`)) join `client_profiles` `cp` on(`ca`.`id` = `cp`.`account_id`)) left join `payment_transactions` `pt` on(`dr`.`id` = `pt`.`request_id`)) left join `admin_employee_accounts` `admin` on(`pt`.`verified_by` = `admin`.`id`)) left join `admin_employee_profiles` `ap` on(`admin`.`id` = `ap`.`account_id`)) where `dr`.`status_id` = 4 and `pm`.`requires_verification` = 1 and (`dr`.`payment_status` = 'pending' or `dr`.`payment_status` is null) order by `dr`.`created_at` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_receipts_complete`
--

/*!50001 DROP VIEW IF EXISTS `v_receipts_complete`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_receipts_complete` AS select `r`.`id` AS `id`,`r`.`transaction_id` AS `transaction_id`,`r`.`client_id` AS `client_id`,`r`.`request_id` AS `request_id`,`r`.`receipt_number` AS `receipt_number`,`r`.`client_name` AS `client_name`,`r`.`client_email` AS `client_email`,`r`.`client_phone` AS `client_phone`,`r`.`request_number` AS `request_number`,`r`.`document_type` AS `document_type`,`r`.`payment_method` AS `payment_method`,`r`.`payment_method_code` AS `payment_method_code`,`r`.`amount` AS `amount`,`r`.`processing_fee` AS `processing_fee`,`r`.`net_amount` AS `net_amount`,`r`.`currency` AS `currency`,`r`.`external_transaction_id` AS `external_transaction_id`,`r`.`paymongo_payment_intent_id` AS `paymongo_payment_intent_id`,`r`.`payment_status` AS `payment_status`,`r`.`receipt_date` AS `receipt_date`,`r`.`payment_date` AS `payment_date`,`r`.`description` AS `description`,`r`.`notes` AS `notes`,`r`.`created_at` AS `created_at`,`r`.`updated_at` AS `updated_at`,`pt`.`initiated_at` AS `payment_initiated_at`,`pt`.`completed_at` AS `payment_completed_at`,`dr`.`status_id` AS `request_status_id`,`rs`.`status_name` AS `request_status`,`dt`.`type_name` AS `document_type_full`,`dt`.`base_fee` AS `document_base_fee` from ((((`receipts` `r` join `payment_transactions` `pt` on(`r`.`transaction_id` = `pt`.`id`)) join `document_requests` `dr` on(`r`.`request_id` = `dr`.`id`)) join `request_status` `rs` on(`dr`.`status_id` = `rs`.`id`)) join `document_types` `dt` on(`dr`.`document_type_id` = `dt`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-30 21:55:29
